.main_page_wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.left_section {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.left_section_all {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right_section {
  width: 30%;
  background-color: rgba(255, 255, 0, 0.404);
}

.right_section_close {
  display: none;
  background-color: rgba(127, 255, 212, 0.247);
}
